.idea
.migraw
.php_cs.cache
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets/dist/
/web/bundles/
/web/uploads/
/web/media/cache/
/node_modules/
/src/AppBundle/Resources/public/min/
rev-manifest.json
npm-debug.log
web/sw.js
