{% extends 'base.html.twig' %}

{% block cover %}
    <section id="cover" class="parallaxContainer">
        <div class="parallax" style="background-image: url({{ asset('bundles/app/img/layout/cover-placeholder.jpg') }})">
        </div>
    </section>
{% endblock %}
{% block content %}
    <section id="content">
        <ul id="entries" class="list-unstyled">
            {{ render(controller('AppBundle:Default:paginateEntries', { 'page': 1 })) }}
        </ul>
    </section>
{% endblock %}
