# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: application
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    locale: en
    google_analytics: ~

    # Image upload directory in web folder
    upload_directory: /uploads

    # Image qualities and Liip Imagine filters configurations
    jpeg_quality: 75
    png_level: 6
    thumb_height: 500
    detail_height: 1400

    # This has to be configured for the OS you are running this app on (eg. executable or binary files)
    liip_imagine.jpegoptim.binary: '%kernel.project_dir%/node_modules/jpegoptim-bin/vendor/jpegoptim'
    liip_imagine.optipng.binary: '%kernel.project_dir%/node_modules/optipng-bin/vendor/optipng'

    # The current password for development: admin
    # For prod environment encode the password with symfony built in command (php bin/console security:encode-password)
    admin_password: '$2y$12$H1WecSp72DERilgu1sPbR.wXKzmCYErQY7JCetMOvVJVC8/zUY0di'
