{% import 'templates/macro/macro.html.twig' as macro %}
<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog d-flex flex-column">
        <div class="container lightbox-head d-flex justify-content-between align-items-center">
            <div class="lightbox-info">
                <span id="current-index">1</span> / <span id="last-index">X</span>
            </div>
            <button type="button" class="btn btn-default btn-close" data-dismiss="modal" title="{{ 'btn.close'|trans }}">
                <span class="icon icon-close"><svg><use xlink:href="#close-icon"/></svg></span>
            </button>
        </div>
        <div class="lightbox-body" data-list-target="#list-post-{{ post.id }}">
            {{ block('content', 'frontend/post/show.html.twig') }}
        </div>
    </div>
</div>
