#content.login-bg
    position: relative
    background: url("#{$imagepath}/cover-placeholder.jpg") no-repeat center /cover

    &:before
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.4)

section#login
    position: relative
    margin-top: 12%

    form.login-form
        position: relative
        max-width: 400px
        padding: 2rem
        background: rgba(255, 255, 255, 0.85)
        border-radius: 0.3rem
        margin: auto

        &:before
            content: ''
            display: block
            position: absolute
            width: 80px
            height: 80px
            top: -40px
            left: 50%
            transform: translateX(-50%)
            border-radius: 50%
            background: url("#{$imagepath}/../logo-camera.svg") no-repeat center /50px $color-teritary
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15)

        .form-control
            position: relative
            box-sizing: border-box
            height: auto
            padding: 10px
            font-size: 16px

            &:focus
                z-index: 2

        input[type="text"]
            margin-bottom: -1px
            border-bottom-right-radius: 0
            border-bottom-left-radius: 0

        input[type="password"]
            margin-bottom: 10px
            border-top-left-radius: 0
            border-top-right-radius: 0
