#entry
    display: flex
    padding-top: 3.125rem
    min-height: 100vh
    align-items: center

    &.loading
        .entry-image:after
            content: ''
            position: absolute
            display: block
            transform: translate(-50%, -50%)
            top: 50%
            left: 50%
            height: 60px
            width: 60px
            background: url(../../../img/layout/icons/spinner-icon.svg) no-repeat center /contain

    @include media-breakpoint-up(sm)
        padding: 3.125rem calc(#{$grid-gutter-width} / 2) 0

    .entry-inner
        position: relative
        width: auto
        padding: 0

    .entry-image-container
        position: relative

    .entry-image
        min-height: 100px
        padding: 0

        img
            width: 100%

    .entry-info
        color: inherit
        padding-bottom: 1rem

        @include media-breakpoint-up(sm)
            padding: 0 $grid-gutter-width $grid-gutter-width

    .prev,
    .next
        display: flex
        position: absolute
        top: 50%
        transform: translateY(-50%)
        height: 100%
        opacity: 0.4
        color: $color-teritary
        text-decoration: none
        border: none
        padding: 2rem
        align-items: center
        justify-content: center
        background-repeat: repeat-x
        transition: all 0.2s ease-in
        &:hover
            opacity: 0.8
            .icon
                svg
                    fill: $color-teritary

        @include media-breakpoint-up(lg)
            padding: 3rem

        .icon
            svg
                fill: $color-secondary

    .prev
        right: 0
        background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%)
    .next
        left: 0
        background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%)
