#tours-container
    padding: 1.75rem 0 0
    text-align: center

    @include media-breakpoint-up(sm)
        padding: 3.5rem 0 0

    @include media-breakpoint-up(md)
        padding: 6.75rem 0 0

.tour
    h3
        text-align: center
        margin-bottom: 1rem

    .tour-desc
        padding-bottom: 2.5rem

        p:last-child
            margin-bottom: 0

    .tour-info
        > div
            position: relative
            padding: 3rem 0

            &:before
                content: ''
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)
                height: 3px
                width: 60px
                background: $color-teritary

    .tour-pictures
        .entries
            justify-content: center
            &:after
                display: none

            a
                border-bottom: none
                flex-grow: initial !important

                figure figcaption
                    padding: 1rem 0.75rem 0.25rem
                    font-size: inherit

    .tour-map
        #map
            height: 300px
            margin: 0 calc(#{$grid-gutter-width} /2 * -1)

            a
                border: none

            @include media-breakpoint-up(md)
                height: 400px
                margin: 0 (-$grid-gutter-width)
