html
    height: 100%
body
    min-height: 100%
    width: 100%

noscript
    position: fixed
    width: 100%
    z-index: 100

    .alert
        margin: 0
        border-radius: 0

hr
    height: 3px
    width: 60px
    background: $color-teritary
    border: 0
    margin-top: 40px
    margin-bottom: 40px

.container
    width: 100%
    max-width: 1920px
    padding: 0 30px

    @media(max-width: 450px)
        padding: 0 15px

.text-container
    max-width: 750px
    margin: auto
