.entry
    height: 100%
    width: 100%
    background: none !important

    .entry-centerer
        display: flex
        align-items: baseline
        justify-content: center
        min-height: 100%
        width: 100%

        @include media-breakpoint-up(lg)
            align-items: center

    .entry-inner
        position: relative
        width: 100%
        padding: 3.5rem 0 1rem

        .entry-title
            margin: 1.5rem 0 1rem

        .entry-image
            position: relative
            text-align: center

            img
                max-height: 100%
                max-width: 100%

        .entry-info
            color: $color-secondary

        a
            text-decoration: none
            color: $color-teritary

            &.btn
                color: $color-secondary

        @include media-breakpoint-up(lg)
            padding: 2rem 0

            .entry-title
                margin: 0 0 1rem

            .entry-info
                padding: 0 $grid-gutter-width
