.leaflet-container
    font-family: inherit
    font-size: 0.75rem

.leaflet-popup-content-wrapper
    border-radius: $border-radius-base

.leaflet-popup-content-wrapper, .leaflet-popup-tip
    color: inherit
