.leaflet-container
    font-family: inherit
    font-size: 0.75rem

.leaflet-popup-content-wrapper
    border-radius: $border-radius-base

.leaflet-popup-content-wrapper, .leaflet-popup-tip
    color: inherit

.easy-button-button
    .icon
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        width: 100%

        svg
            max-width: 11px
            max-height: 11px
