{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please log in</h3>
        </div>
        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger">{{ error.message | replace({"Bad credentials." : "Username or Password wrong"}) }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="post" class="form-signin">
                <input type="hidden" id="inputEmail" class="form-control" name="_username" value="admin">
                <div class="form-group">
                    <input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Password" required>
                </div>

                <input type="hidden" name="_target_path" value="account" />

                <button class="btn btn-lg btn-success btn-block" type="submit" name="login">Log in</button>
            </form>
        </div>
    </div>
{% endblock %}
