html,
body {
  height: 100%;
  width: 100%;
  font-family: @font-main;
  color: @color-primary;
}

.navbar-brand {
  padding: 10px 15px;
}

#logo {
  float: left;
  height: 100%;
  padding-right: 10px;
}

#page-wrapper {
  padding-bottom: 15px;
}

.nav i {
  width: 17px;
}
